SERVER_PORT=4000
FRONTEND_DOMAIN=localhost
CORS_TRUSTED_ORIGINS=localhost
POSTGRES_DB=gearboxd
POSTGRES_USER=gearboxd
POSTGRES_PASSWORD=password
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=Gearboxd <no-reply@gearboxd.davidortegafarrerons.com>